@import 'tailwindcss';

/* Animaciones para el Toast */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* Aplicamos la animación */
.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}
